.footer {
  font-size: 14px;
  color: $grey-dark;

  img { border: none; }
}

.footer-inner { text-align: center; }

#animate {
    animation:iconAnimate 1.33s ease-in-out infinite;
}

.with-love {
  display: inline-block;
  margin: 0 5px;
  color: grey
}

.powered-by,
.theme-info { display: inline-block; }

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }

  img { display: inline-block; }
}
@-moz-keyframes iconAnimate {
    0%, 100% {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    10%, 30% {
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1)
    }
    50%, 70% {
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1)
    }
}
@-webkit-keyframes iconAnimate {
    0%, 100% {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    10%, 30% {
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1)
    }
    50%, 70% {
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1)
    }
}
@-o-keyframes iconAnimate {
    0%, 100% {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    10%, 30% {
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1)
    }
    50%, 70% {
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1)
    }
}
@keyframes iconAnimate {
    0%, 100% {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    10%, 30% {
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1)
    }
    50%, 70% {
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
        transform:scale(1.1)
    }
}